# Auto detect text files and perform LF normalization
* text=auto

# YAML files
*.yml  text eol=lf
*.yaml text eol=lf

# GitHub specific files
.github/ISSUE_TEMPLATE/config.yml linguist-language=YAML

# Markdown files
*.md text eol=lf

# JavaScript/TypeScript files
*.js   text eol=lf
*.jsx  text eol=lf
*.ts   text eol=lf
*.tsx  text eol=lf
*.json text eol=lf

# CSS/SCSS files
*.css  text eol=lf
*.scss text eol=lf

# Prevent vendored files from affecting language stats
node_modules/**/* linguist-vendored
